body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.AuthorName_ByLine {
	color:#000000;
	font-family:Garamond, serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.BodyText_Garamond_16-22 {
	-epub-hyphens:none;
	color:#000000;
	font-family:Garamond, serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:18px;
	text-transform:none;
	widows:2;
}
p.BookTitle_JKLM {
	-epub-hyphens:none;
	color:#000000;
	font-family:Garamond, serif;
	font-size:36px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.NoBreak {
	text-decoration:none;
}
p.ParaOverride-1 {
	-epub-hyphens:none;
}
span.CharOverride-1 {
	color:#f7941e;
	font-family:Dirtyhouse, sans-serif;
	font-size:41px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-2 {
	color:#f7941e;
	font-family:Dirtyhouse, sans-serif;
	font-size:53px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-3 {
	font-family:"BentonSans Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:500;
}
#_idContainer000 {
	display:inline-block;
	height:366px;
	width:486px;
}
#_idContainer003, #_idContainer006, #_idContainer012, #_idContainer013 {
	display:inline-block;
	height:648px;
	width:468px;
}
#_idContainer007, #_idContainer009 {
	display:inline-block;
	height:366px;
	width:468px;
}
#_idContainer015 {
	display:inline-block;
	height:446px;
	width:936px;
}
#_idContainer018, #_idContainer020 {
	display:inline-block;
	height:439px;
	width:468px;
}
#_idContainer022 {
	display:inline-block;
	height:419px;
	width:486px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
